/* styles.css */

.card {
    margin-top: 1.5rem;
}

.card-bg {
    background-color: #f7fafc;
    border: 1px solid #e2e8f0;
    border-radius: 0.5rem;
    padding: 1rem;
    position: relative;
}

.posted-div {
    color: #4a5568;
}

.hourglass {
    font-size: 1rem;
    margin-right: 0.25rem;
}

.text-gray-600 {
    color: #718096;
}

.text-gray-900 {
    color: #2d3748;
}

.text-xs {
    font-size: 0.75rem;
}

.text-gray-950 {
    color: #1a202c;
}

.text-gray-700 {
    color: #4a5568;
}

.font-bold {
    font-weight: 700;
}

.bg-red-600 {
    background-color: #e53e3e;
}

.gradient-shaded {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
}

.text-blue-500 {
    color: #3182ce;
}

.hover-underline:hover {
    text-decoration: underline;
}

.text-gray-800 {
    color: #2d3748;
}

.bg-green {
    background-color: #55efc3;
}

.hover-bg-green:hover {
    background-color: #48bb78;
}

.bg-purple {
    background-color: #4943da;
}

.text-white {
    color: #fff;
}

.hover-bg-purple:hover {
    background-color: #805ad5;
}
