@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
}

.gradient_shaded{
  background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(177,177,177,0) 100%);
}

.little-shadow{
  box-shadow: 1px 1px 3px #ebebeb;
}